/* footer.css */

body {
  background-color: black;
  font-family: monospace;
  font-size: 9px;
  color: lime;
  overflow: hidden;
}

*.blink {
  animation: 1s linear infinite condemned_blink_effect;
}
@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}