/* main.css */

body {
  background-color: black;
  font-family: monospace;
  color: lime;
  padding: 10px;
  overflow: scroll;
}

iframe {
  border: none;
}

ul {
  list-style-type: katakana;
}

canvas {
  border: 4px solid #c0c0c0;
}