/* netscape.css */

/*Borders and Backgrounds*/
#window {
  border: 4px solid transparent;
  border-image: url("../images/netscape/borders/border.png") 4 round;
  position: absolute;
}
#titlebar {
  background: linear-gradient(to right, #000080, #1084d0);
}
#menubar, #toolbar, #addressbar {
  border-bottom: 1px solid #808080;
}
#menubar, #toolbar, #addressbar, #bookmarksbar, #statusbar {
  background-color: #c0c0c0;
}
#toolbar, #addressbar, #bookmarksbar {
  border-top: 1px solid #ffffff;
}
#content {
  border: 2px solid transparent;
  border-image: url("../images/netscape/borders/border2.png") 2 round;
}

/*Title Bar*/
#nscommicon, #title, #minbutton, #maxbutton, #closebutton {
  -moz-user-select: none;
}
#nscommicon, #title {
  float: left;
  margin-top: 1px;
}
#minbutton, #maxbutton, #closebutton {
  float: right;
  margin-top: 2px;
}
#nscommicon, #closebutton {
  margin-left: 2px;
}
#title{
  margin-left: 3px;
  font: bold 12px sans-serif;
  color: white;
}
#closebutton {
  margin-right: 2px;
}